body {
  background-image: url('https://images.unsplash.com/photo-1539397810181-d80bea4ea42d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80');
  color: rgb(169, 162, 162);
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#query {
  padding: 7px 15px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(148, 141, 135);
   color: rgb(70, 35, 35);
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 10px;
  list-style: none;
}

.stats {
  display: flex;
  padding-right: 12px;
}

.stats-item {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 0 10px 0;
  font-size: 22px;
}
